# {{ app_tilix_alert_ansible_managed_file }}
[{{ app_tilix_catalog_dconf_catalog['tilix']['path'] }}]
close-with-last-session=false
enable-wide-handle=true
paste-advanced-default=false
quake-specific-monitor=0
terminal-title-style='none'
theme-variant='light'
warn-vte-config-issue=false
window-style='disable-csd-hide-toolbar'

[{{ app_tilix_catalog_dconf_catalog['tilix']['path'] + '/' }}profiles]
default='ed56e238-79ff-401b-9898-3ca3777d425e'
list=['2b7c4080-0ddd-46c5-8f23-563fd3ba789d', 'ed56e238-79ff-401b-9898-3ca3777d425e']

[{{ app_tilix_catalog_dconf_catalog['tilix']['path'] + '/' }}profiles/2b7c4080-0ddd-46c5-8f23-563fd3ba789d]
visible-name='Default'

[{{ app_tilix_catalog_dconf_catalog['tilix']['path'] + '/' }}profiles/2b7c4080-0ddd-46c5-8f23-563fd3ba789d]
background-color='#000000000000'
badge-color='#AC7EA8'
badge-color-set=false
bold-color-set=false
cursor-blink-mode='on'
cursor-colors-set=false
cursor-shape='underline'
font='MesloLGS NF 10'
foreground-color='#839496'
highlight-colors-set=false
login-shell=true
palette=['#073642', '#DC322F', '#859900', '#B58900', '#268BD2', '#D33682', '#2AA198', '#EEE8D5', '#002B36', '#CB4B16', '#586E75', '#657B83', '#839496', '#6C71C4', '#93A1A1', '#FDF6E3']
terminal-bell='icon-sound'
use-system-font=false
use-theme-colors=false
visible-name='Default'
